$def with (data)
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
        <link rel="stylesheet" type="text/css" href="./static/css/$data['css_file']" />
    </head>
    <body>
    <div id='main'>
        <div id='right'>
            <div id='head'>
                <img src="static/img/head.jpg"/>
            </div>
            <div id='intro'>
                <span id='blog_name'>la.onger</span>
            </div>
            <div id='urls'>
                links
            </div>
        </div>
        <div id='center'>$:data["content"]</div>
        <div id='bottom'>
            power by <a href='https://github.com/laonger/marklog'>marklog</a>
        </div>
    </div>
    </body>
</html>
