$def with (data)
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
        <link rel="stylesheet" type="text/css" href="./static/css/$data['css_file']" />
    </head>
    <body>
    <div id='main'>
        <div id='right'>
            <div id='head'>
                <a href='.'><img src="static/img/head.jpg"/></a>
            </div>
            <div id='intro'>
                <span id='blog_name'>la.onger</span>
            </div>
            <div id='google_search'>
                <!-- Search Google -->
                <form method="get" action="http://www.google.com/search">
                       <input type="text" name="q" class="search" value="" />
                       <input type="hidden" name="hl" value="en" />
                       <input type="hidden" name="newwindow" value="1" />
                       <input type="hidden" name="num" value="100" />
                       <input type="hidden" name="domains" value="la-onger.long-er.name/blog/" />
                       <input type="hidden" name="sitesearch" value="la-onger.long-er.name/blog/" />&nbsp;
                       <input type="submit" name="btnG" value="search" />
                </form>
                    <!-- Search Google -->
            </div>
            <div id='urls'>
                <a href="https://github.com/laonger">projects</a>
            </div>
        </div>
        <div id='center'>$:data["content"]</div>
        <div id='bottom'>
            power by <a href='https://github.com/laonger/marklog'>marklog</a>
        </div>
    </div>
    </body>
</html>
