#article {
   font-size: 12pt;
}

#tittle_line {
    color: #6F6EEA;
    font-size: 14pt;
    padding-top: 20px;
}

#cut_line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

#post_time {
    width: 50%;
    float: left;
    font-size: 14pt;
    color: #FE66FF;
}

#end_mark {
    width: 50%;
    text-align: right;
    float: right;
    font-size: 14pt;
}

.poster {
    color: #DECE00;
}

.host_name {
    color: #948C00;
}

.host_name a {
    color: #948C00;
}

.tittle a {
    color: #6F6EEA;
    text-decoration: none;
}
