body {
    color: #BDBFBF;
    background-color: #141414;
    font-size: 12pt;
    font-family: Hei;
    white-space: normal;
    word-break: normal; 
    word-wrap: break-word;
}

pre {
    font-size: 10pt;
    padding: 10px;
    border-width: 1px;
    border-style: dashed;
}

code {
}

a {
    color: #00EBEB;
}

a:hover {
    color: #66ffff;
}

a:visited {
    color: #338C8D;
}

#main {
    width: 920px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
}

#center {
    width: 700px;
    margin-left: 30px;
    margin-right: 10px;
    float: right;
}

#right {
    width: 170px;
    float: left;
    padding-top: 30px;
}

#head {
    padding-left: 40px;
}

#intro {
    padding-top: 30px;
    text-align: center;
}

#intro #blog_name {
    font-size: 18pt;
}

#urls {
    padding-top: 30px;
    padding-left: 20px;
}


#bottom {
    clear: both;
    text-align: left;
    font-size: 10pt;
    padding-top: 30px;
    padding-left: 20px;
}

