body {
    color: #005701;
    background-color: #141414;
    text-size: 12pt;
    white-space: normal;
    word-break: normal; 
    word-wrap: break-word;
}

pre {
}

#main {
    width: 920px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    color: yellow;
    background-color: blue;
    background-image: url(../../static/img/banner.png);
    background-repeat: no-repeat;
    height: 170px;
}

#banner a:link {
    color: yellow;
}

#banner a:visited {
    color: yellow;
}

#blog_name {
    padding-top: 25px;
    padding-left: 100px;
    font-size: 24pt;
}

#sub_name {
    padding-left: 150px;
    font-size: 20px;
}

#top_button_bar {
    height: 40px;   
    margin-top: 10px;
    padding-left: 30px;
    background-color: black;
}

.top_button {
    float: left;
    width: 150px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

#center {
    width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

#right {
    width: 200px;
    float: right;
}


#bottom {
    clear: both;
    text-align: right;
    font-size: 10pt;
}

